#edit-task
  %form{:action => "/maintain/tasks/update",:method => "POST"}
    
    = partial :fields
    
    %input{:type => "submit", :value => "Submit"}
    %input.ajax-fetch{:type => "button", :value => "Cancel", :url => "/maintain/tasks"}

:javascript
  preselect_task_schedule();